@font-face {
    font-family: ggsans;
    src: url(../assets/fonts/ggsans-Normal.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    font-family: ggsans;
}

body {
    display: flex;
}

.navbar {
    display: flex;
    background: #202225;
    min-width: 72px;
}

.private-channels {
    display: flex;
    background: #2f3136;
    min-width: 240px;
}

.messages-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #36393f;
    justify-content: flex-end;
}

.messages-list {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.message-and-time-wrapper {
    display: flex;
    align-items: center;
    width: 80vw;
}

.message-content {
    font-size: 16px;
    color: #ffffff;
    padding: 2px 0;
    pointer-events: none;
}

.message-time {
    padding: 0 16px;
    color: #36393f;
    font-size: 12px;
    pointer-events: none;
    user-select: none;
}

.message-and-time-wrapper:hover {
    background: #32353b;
}

.message-and-time-wrapper:hover .message-time {
    color: #767a82;
}

.chat-wrapper {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 90px;
}

.chat {
    display: flex;
    width: 1580px;
}

.chat-input {
    display: flex;
    width: 100%;
    margin-left: 16px;
    padding: 11px 10px 11px 0;
    background: #40444b;
    outline: 0;
    border-radius: 8px;
}

input[type=text] {
    padding-left: 18px;
    color: #ffffff;
    font-size: 1rem;
}

.chat-input::placeholder {
    font-size: 16px;
    color: #767a82;
}

.context-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background: #18191c;
    border-radius: 4px;
}

.context-menu-delete-button, .context-menu-edit-button {
    display: flex;
    height: 30px;
    width: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: #b9bbbe;
    border-radius: 4px;
    cursor: pointer;
}

.context-menu-edit-button {
    margin-bottom: 5px;
}

.context-menu-delete-button:hover {
    background: #d83c3e;
    color: #ffffff;
}

.context-menu-edit-button:hover {
    background: #4752c4;
    color: #ffffff;
}

.edit-input-wrapper {
    display: flex;
    flex-direction: column;
    background: #32353b;
    height: 75px;
    justify-content: center;
}

.edit-input-cancel-warn {
    display: flex;
    align-self: flex-start;
    margin-left: 60px;
    color: #b9bbbe;
    font-size: 12px;
}

.edit-input {
    margin-left: 56px;
    padding-left: 18px;
    height: 44px;
    width: 1200px;
    align-self: flex-start;
    background: #40444b;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
}